@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground:  #302F2F;
  --background-start: #FCFAFA;
  --background-end:  #FFFDFD;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground:  #302F2F;
    --background-start: #FFF;
    --background-end:  #FFFDFD;
    --green-primary: #6AFF52;
  }
}

body {
  color: var(--foreground);
}

.react-datepicker__input-container .react-datepicker-ignore-onclickoutside{
  background: none;
}
